body {
    background: #fffff8;
    font-family: -apple-system, BlinkMacSystemFont, sans-serif;
}

#app {
    display: grid;
    grid-auto-rows: minmax(150px, auto);
    /* grid-template-columns:  */
    height: 100%;
    background: #f23557;
    color: #f0d43a;
    justify-content: center;
    grid-gap: 1em;
    font-size: 20px;
    font-family: 'Oswald', sans-serif;
}

.zip {
    display: flex;
    flex-direction: column;
}

@media (min-width: 570px) {
    .zip {
        flex-direction: row;
    }
}

@media (max-width: 560px) {
    body {
        margin: 0;
    }
    #app {
        position: absolute;
    }
}

.entry {
    background: rgba(59, 74, 107, .4);
    padding: 8px;
}

#entryHolder {}

#date {}

#temp {}

#content {}

#generate {
    position: relative;
    z-index: 10;
}


/* The select element styling is mostly from CSS Tricks
https://css-tricks.com/styling-a-select-like-its-2019/ */

#units {
    font-weight: 700;
    padding: .6em 1.4em .5em .8em;
    border-radius: .5em;
    border: 1px solid rgb(187, 182, 182);
    box-shadow: 0 1px 0 1px rgba(0, 0, 0, .1);
    background-color: #fff;
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22292.4%22%20height%3D%22292.4%22%3E%3Cpath%20fill%3D%22%23007CB2%22%20d%3D%22M287%2069.4a17.6%2017.6%200%200%200-13-5.4H18.4c-5%200-9.3%201.8-12.9%205.4A17.6%2017.6%200%200%200%200%2082.2c0%205%201.8%209.3%205.4%2012.9l128%20127.9c3.6%203.6%207.8%205.4%2012.8%205.4s9.2-1.8%2012.8-5.4L287%2095c3.5-3.5%205.4-7.8%205.4-12.8%200-5-1.9-9.2-5.5-12.8z%22%2F%3E%3C%2Fsvg%3E'), linear-gradient(to bottom, #ffffff 0%, #e5e5e5 100%);
    background-repeat: no-repeat, repeat;
    background-position: right .7em top 50%, 0 0;
    background-size: .65em auto, 100%;
}

#units:hover {
    border-color: #888;
}

#units:focus {
    border-color: #aaa;
    box-shadow: 0 0 1px 2px rgba(58, 144, 236, 0.548);
    box-shadow: 0 0 0 2px -moz-mac-focusring;
    color: #222;
    outline: none;
}

#units::-ms-expand {
    display: none;
}

#units option {
    font-weight: normal;
}

.headline {}

.title {}

.form-group {
    max-width: 600px;
    margin-right: 16px;
    display: flex;
    flex-direction: column;
}


/*  Basic Styling To Override Default For Basic HTML Elements */

label {
    display: block;
    font-size: 27px;
}

input {
    display: block;
    height: 60px;
    width: 320px;
    background: #22b2da;
    color: #f0d43a;
    font-size: 20px;
    font-family: 'Oswald', sans-serif;
    border: none;
}

button {
    width: 400px;
    height: 100px;
    background: #3b4a6b;
    color: #f0d43a;
    font-size: 26px;
    font-family: 'Oswald', sans-serif;
    border: none;
    box-shadow: 2px 4px 5px #444;
    margin-top: 8px;
}

h1 {
    font-size: 36px;
}

textarea {
    background: #22b2da;
    color: #f0d43a;
    font-size: 20px;
    font-family: 'Oswald', sans-serif;
}


/* Reset style for HTML element on active to have no border*/

input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}


/* Style for Placeholder Text*/

::placeholder {
    /* Firefox, Chrome, Opera */
    color: #f0d43a;
    font-family: 'Oswald', sans-serif;
}

:-ms-input-placeholder {
    /* Internet Explorer 10-11 */
    color: #f0d43a;
    font-family: 'Oswald', sans-serif;
}

::-ms-input-placeholder {
    /* Microsoft Edge */
    color: #f0d43a;
    font-family: 'Oswald', sans-serif;
}